@charset "UTF-8";

body {
    background-image: linear-gradient(to right, #104D73, #1B80BF)

}

.banner{
    text-align: center;
}

main {
    background-color: wheat;
    border-radius: 10px;
    box-shadow: 5px 5px 20px black;
    width: 800px;
    padding: 10px;
    margin: auto;
}

h1, h2 {
    color: #051A26;
    text-align: center;
    text-shadow: 1px 1px 2px #20365a9f;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h3 {
    color: #051A26;
    text-align: left;
    text-shadow: 1px 1px 2px #20365a9f;
    font-family: Georgia, 'Times New Roman', Times, serif;
}